<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'eParcha/register/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'eParcha/register/css/style.css' %}">
</head>
<body>
    <div class="main">
        <section class="patient">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="patient-content">
                    <form method="POST" id="patient-form" class="patient-form" action="/">
                        {% csrf_token %}
                        <h2 class="form-title">Patient Details</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Patient Name"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="age" id="age" placeholder="age"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="disease" id="disease" placeholder="disease"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="medicine" id="Medicine" placeholder="Prescribed Medicine"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="docComments" id="docComments" placeholder="Doctor comments"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Send"/>
                        </div>
                    </form>
                    {% comment %} <p class="loginhere">
                        Have already an account ? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                    </p> {% endcomment %}
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'eParcha/register/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'eParcha/register/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>